

@import "tailwindcss";



.loader-border {
  border: 2px solid transparent;
  border-top-color: white;
  border-right-color: white;
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}